html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.divider {
  height: 1px;
  background-color: color('grey', 'lighten-2');
}

// Text Align
.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.valign-wrapper {
  display: flex;
  align-items: center;

  .valign {
    display: block;
  }
}