.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media #{$medium-and-up} {
  .container {
    width: 85%;
  }
}

@media #{$large-and-up} {
  .container {
    width: 70%;
  }
}

.container .row {
  margin-left: (-1 * $gutter-width / 2);
  margin-right: (-1 * $gutter-width / 2);
}

.section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    float: left;
    box-sizing: border-box;
    padding: 0 ($gutter-width / 2);
    min-height: 1px;

    &[class*="push-"],
    &[class*="pull-"] {
      position: relative;
    }

    $i: 1;
    @while $i <= $num-cols {
      &.s#{$i} {
        width: unquote(100 / $num-cols * $i + '%');
      }
      $i: $i + 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote(100 / $num-cols * $i + '%');
      &.offset-s#{$i} {
        margin-left: $perc;
      }

      &.push-s#{$i} {
        left: $perc;
      }

      &.pull-s#{$i} {
        right: $perc;
      }
      $i: $i + 1;
    }

    @media #{$medium-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        &.m#{$i} {
          width: unquote(100 / $num-cols * $i + '%');
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote(100 / $num-cols * $i + '%');
        &.offset-m#{$i} {
          margin-left: $perc;
        }

        &.push-m#{$i} {
          left: $perc;
        }

        &.pull-m#{$i} {
          right: $perc;
        }
        $i: $i + 1;
      }
    }

    @media #{$large-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        &.l#{$i} {
          width: unquote(100 / $num-cols * $i + '%');
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote(100 / $num-cols * $i + '%');
        &.offset-l#{$i} {
          margin-left: $perc;
        }

        &.push-l#{$i} {
          left: $perc;
        }

        &.pull-l#{$i} {
          right: $perc;
        }
        $i: $i + 1;
      }
    }
  }
}